@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

@font-face {
	font-family: 'PerfectDark';
	src: url('../Fonts/pdark.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* General */
body {
	overflow-x: hidden;
}

.textLogo {
	font-family: 'PerfectDark';
	font-size: large;
	letter-spacing: 1px;
	background: linear-gradient(270deg, #ffffff 50%, #02abff 75%, #ffffff 100%);
	background-size: 300% 100%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	animation: GradientMovement 10s ease infinite;
}

@keyframes GradientMovement {
	0% {
		background-position: 100% 0%;
	}

	100% {
		background-position: -80% 0%;
	}
}

.noMargin {
	padding: 0;
	margin: 0;
}

/* Flex */
.flexMain {
	display: flex;
	align-items: center;
}

.flex1 {
	flex: 1;
}

.flex2 {
	flex: 2;
}

.flex3 {
	flex: 3;
}

/* Header */
.headDiv {
	background-color: #1D1D1D;
}

#siteBrand {
	font-family: impact;
	letter-spacing: -1px;
	font-size: 32px;
	color: #252525;
	line-height: 1em;
}

.content {
	height: 70vh;
}

.buttonMenu {
	flex: 3;
}

/* Buttons */
button.siteLink {
	margin-left: -5px;
	border: none;
	padding: 24px;
	display: inline-block;
	min-width: 115px;
}

.textButton {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
	color: rgb(24, 24, 24);
}

.whiteLink {
	background: #f3f3f3;
	transition: all 300ms linear;
}

.whiteLink:hover {
	background: #404040;
	color: #fff;
}

#siteBrand {
	font-family: impact;
	letter-spacing: -1px;
	font-size: 32px;
	color: #252525;
	line-height: 1em;
}

#menuDrawer {
	background: #fff;
	position: fixed;
	height: 100vh;
	overflow: auto;
	z-index: 12312;
	top: 0;
	left: 0;
	border-right: 1px solid #fff;
	min-width: 25%;
	max-width: 320px;
	width: 100%;
	transform: translateX(-100%);
	transition: transform 200ms linear;
}

#mainNavigation {
	transition: transform 200ms linear;
	background: #F3F3F3;
}

.drawMenu>#menuDrawer {
	transform: translateX(0%);
}

.drawMenu>#mainNavigation {
	transform: translateX(25%);
}

.fa-times {
	cursor: pointer
}

.buttonMenu {
	flex: 3;
}

/* MENU LATERAL */
a.nav-menu-item {
	font-family: 'Orbitron', sans-serif;
	transition: border 200ms linear;
	text-decoration: none;
	display: block;
	padding: 18px;
	padding-left: 32px;
	border-bottom: 1px solid #fff;
	font-weight: bold;
	color: #343434;
	background-position: 0 0;
}

a.nav-menu-item:hover {
	margin-left: 2px;
	border-left: 10px solid #343434;
	background-color: rgb(255, 255, 255);
	background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgb(246, 246, 246) 100%);
	background-size: 270% auto;
	background-position: -100% 0;
	transition: all 0.5s ease-out;
}

.menuLogo {
	transform: scale(1.1);
	padding-left: 15%;
}

@media screen and (max-width: 767px) {
	.buttonMenu {
		flex: 1;
	}
}

/*FOOTER*/
select.noStyle {
	border: none;
	outline: none
}

.footer-distributed {
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 20px 50px;
}

.footer-distributed .footer-left p {
	color: #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */
.footer-distributed p.footer-links {
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	margin: 0 0 10px;
	padding: 0;
	transition: ease .75s;
}

.footer-distributed p.footer-links a {
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: inherit;
	transition: ease .75s;
}

.footer-distributed .footer-links a:before {
	content: "·";
	font-size: 20px;
	left: 0;
	color: #fff;
	display: inline-block;
	padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
	content: none;
}

.footer-distributed .footer-right {
	float: right;
	margin-top: 6px;
	max-width: 180px;
	padding-top: 5px;
}

.footer-distributed .footer-right a {
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color: #8f9296;
	border-radius: 10px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-left: 3px;
	transition: all .75s;
}

.footer-distributed .footer-right a:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
	text-decoration: underline;
}

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right {
		text-align: center;
	}

	.footer-distributed .footer-right {
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links {
		line-height: 1.8;
	}
}

@media (min-width: 768px) {
	.animate {
		animation-duration: 0.3s;
		-webkit-animation-duration: 0.3s;
		animation-fill-mode: both;
		-webkit-animation-fill-mode: both;
	}
}

.menu-scroll {
	max-height: 300px;
	overflow-y: auto;
}

.freelancer-link-form .btn-link {
	text-decoration: none;
	color: inherit;
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	font-size: inherit;
	font-weight: inherit;
}

.freelancer-link-form .btn-link:hover {
	text-decoration: underline;
	cursor: pointer;
}

/* UNDERLINE ANIMATION */
.linkRedirect {
	color: rgb(46, 46, 46);
	text-decoration: none;
	position: relative;
}

.linkRedirect::before {
	content: "";
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 2px;
	background-image: linear-gradient(to right, rgb(128, 128, 128), rgb(6, 6, 6));
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.linkRedirect:hover::before {
	transform: scaleX(1);
}

.textButton {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
	color: rgb(24, 24, 24);
}

.noMargin {
	padding: 0;
	margin: 0;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: transparent;
	transition: all 250ms linear;
}

.overlay:hover {
	color: #000;
	background-color: rgba(255, 255, 255, 0.516);
	transition: all 250ms linear;
}

.pdf-container {
	cursor: pointer;
	position: relative;
	height: 205px;
}

.acceptedBtn {
	background-color: rgb(105, 186, 118);
}

.rejectedBtn {
	background-color: rgb(198, 106, 106);
}

.textCardHref {
	text-decoration: none;
	color: inherit;
	margin: 0;
	font-size: xx-large;
}

.textCardInvis {
	margin: 0;
	font-size: xx-large;
	display: none;
	color: #F3F3F3;
}

.userCard:hover .textCardInvis {
	display: block;
}

.userCard:hover .textCard {
	display: none;
}

.userCard {
	font-family: 'Orbitron', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid rgb(255, 255, 255);
	height: 50vh;
	background-color: #f6f6f6;
	background-size: 100% 400%;
	height: 35vh;
	transition: all 1s;
}

.userCard:hover {
	background-color: #1D1D1D;
	border-radius: 50%;
	transition: all 1s;
}

.textSlide {
	font-family: 'Orbitron', sans-serif;
	text-align: center;
	padding: 0;
	margin: 0;
	margin-left: 50%;
	transform: translateX(-200%);
	opacity: 0;
	animation: slide-in-anim 1s ease-out forwards;
}

.textSlide2 {
	font-family: 'Orbitron', sans-serif;
	text-align: center;
	padding: 0;
	margin: 0;
	margin-left: 50%;
	transform: translateX(-200%);
	opacity: 0;
	animation: slide-in-anim 1.5s ease-out forwards;
}

/* TEXT SLIDE ANIMATION */
@keyframes slide-in-anim {
	20% {
		opacity: 0;
	}

	60% {
		transform: translateX(-45%);
	}

	75% {
		transform: translateX(-52%);
	}

	100% {
		opacity: 1;
		transform: translateX(-50%);
	}
}

.searchBar {
	width: 56.5vh;
}

.searchBarDiv {
	text-align: right;
	padding-top: 20px;
}

.vertAlignDiv {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.eventMyEvents {
	background-color: #ffffff;
	transition: all 250ms;
}

.eventMyEvents:hover {
	background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(235, 235, 235));
	background-size: 300% auto;
	animation: moveGradient 10s linear infinite;
}

@keyframes moveGradient {
	0% {
		background-position: 0% -50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.divSearch{
	display: flex;
	justify-content: space-between;
}

.titlePadding {
	padding-left: 15px;
}
